.homeDiv{
    background-color:#F4F3F3;
}
.img{
    border: 2px solid rgb(177, 171, 171);
}
.card1{
    margin-top: -150px;
}
.icons{
    cursor: pointer;
}
.padding1{
margin-right: 0px;
padding-right: 40px;
}
.close{
    color: white;
}
.mar{
    margin-left: 20px;
}
@media screen and (max-width: 600px) {
    .card1 {
        margin-top: 20px
    }
    .leftCard{
        margin-top: 0px;
    }
    .ft{
        margin-top: 0px;
        margin-left:0px;
    }
    .mar{
        margin-left: 0px;
    }
}
.ft{
    margin-top: 20px;
    margin-left:40px;
}
.modal-header{
    background-color: black;
    color:white;
}
.modal{
    margin-top: 100px; 
}